body {
    font-family: "Arial Black" !important;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("images/pexels-photo-262325.jpeg");

}

.spacer{
    padding: 5%;
}



.block {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 75%;
    margin: auto;
    border-radius: 15px;
    font-size:  1.5em;
    padding: 3%;


}
.block2{
    background: rgba(0, 0, 0, 0.8);
    color: white;

    margin: auto;
    border-radius: 15px;
    font-size:  1.5em;
    padding: 3%;


}




/* For mobile */
@media (max-width:800px){
    .desktop-only{ display:none }
    .mobile-only{ display: block}
    .block{
        width: 100%
    }

    .about h1{
        font-size: 2rem;
    }
}
/* For Desktop */
@media (min-width:800px){
    .desktop-only{ display: block }
    .mobile-only{ display: none }
    .block2{width: 75%}
}



